* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 32px;
  max-width: 600px;
  color: #262633;
  font-family: sans-serif;
}

h1 {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

.confirmationCode {
  color: #ff4d4d;
  font-weight: 700;
}